@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250, 13%, 9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary:  249, 18%, 14%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 249, 18%, 14%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --radius: 8px;

    --twitch: 262, 42%, 37%;
    --twitch-dark: 261, 42%, 27%;

    --chatexto: 262, 42%, 37%;
    --chatexto-orange: 7, 62%, 47%;
    --chatexto-yellow: 29, 60%, 50%;


    --leaderboard: 0, 0%, 7%;
    --leaderboard-border: 0, 0%, 11%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .text-chatexto-gradient {
    background: linear-gradient(101deg, hsl(var(--chatexto)) 4.16%, hsl(var(--chatexto-orange)) 54.2%, hsl(var(--chatexto-yellow)) 92.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-chatexto-gradient {
    background: linear-gradient(101deg, hsl(var(--chatexto)) 4.16%, hsl(var(--chatexto-orange)) 54.2%, hsl(var(--chatexto-yellow)) 92.73%);
  }

  .border-chatexto-gradient {
    border-image: linear-gradient(101deg, hsl(var(--chatexto)) 4.16%, hsl(var(--chatexto-orange)) 54.2%, hsl(var(--chatexto-yellow)) 92.73%);
  }

  /**
    * Custom Scrollbar
    */

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) hsl(var(--background));
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: hsl(var(--background));
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--border));
    border-radius: 10px;
    border: 3px solid hsl(var(--background));
  }
}